* {
  box-sizing: border-box;
}

#editor {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  height: calc(100vh - 10rem);
  padding: 20px;
  padding-bottom: 100px;
}

#buttons {
 padding: 30px;
}

textarea,
#output {
  resize: none;
  overflow-y: scroll !important;
  height: calc(100vh - 10rem);
}

#output {
  width: 745px;
}

textarea {
  white-space: pre-wrap;
}

button:hover {
  background-color: #0069d9;
}
