* {
  box-sizing: border-box;
}

#editor {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 4rem;
  height: calc(100vh - 14rem);
  padding: 40px;
  padding-bottom: 100px;
  width: 1640px;
  margin: auto;
}

#buttons {
  padding-top: 10px;
}

button {
  padding: 5px;
  margin-right: 5px !important;
}

textarea,
#output {
  resize: none;
  overflow-y: scroll !important;
  width: 765px;
  height: calc(100vh - 16rem);
  font-size: 125% !important;
}

#output {
  width: 765px;
  padding-right: 20px;
}

textarea {
  white-space: pre-wrap;
}

button:hover {
  background-color: #0069d9;
}
